parameters:
  level: max
  paths:
    - src
    - tests
  ignoreErrors:
    -
      message: '#PHPUnit\\Framework\\TestCase::expectException#'
      path: %currentWorkingDirectory%/tests/EdictTest.php
    -
      message: '#PHPUnit\\Framework\\Assert::assertInstanceOf#'
      path: %currentWorkingDirectory%/tests/EdictTest.php
    -
      message: '#argument of class ReflectionClass constructor expects class#'
      path: %currentWorkingDirectory%/src/Entry/ClassEntry.php
