parameters:
  level: max
  paths:
    - src
    - tests
  ignoreErrors:
    - '#Parameter \#1 \$objectOrClass of class ReflectionClass#'
    -
      message: '#PHPUnit\\Framework\\TestCase::expectException#'
      path: %currentWorkingDirectory%/tests/EdictTest.php
    -
      message: '#PHPUnit\\Framework\\Assert::assertInstanceOf#'
      path: %currentWorkingDirectory%/tests/EdictTest.php
