parameters:
  level: max
  paths:
    - src
    - tests
  ignoreErrors:
    -
      message: '#PHPUnit\\Framework\\TestCase::expectException#'
      path: %currentWorkingDirectory%/tests/EdictTest.php
